.Navigation {
  @apply w-full lg:w-24 h-24 lg:h-full fixed left-0 lg:left-auto lg:right-0 top-0 bg-white justify-between flex-row-reverse lg:flex-col-reverse flex;

  .menu {
    @apply w-auto lg:w-full lg:h-auto h-full py-0 lg:py-5 px-5 lg:px-0;

    ul {
      @apply w-auto lg:w-full h-full lg:h-auto flex flex-row lg:flex-col justify-start;

      li {
        @apply py-3 flex justify-center items-center;

        & > button {
          width: 100%;

          mask-size: auto 100%;
          mask-position: center;
          mask-repeat: no-repeat;
          @apply bg-textColor;

          &:hover {
            @apply bg-backgroundColor;
          }
        }

        .messenger {
          height: image-height(@img) * @scale;

          mask-image: url(@img);
          @scale: 0.8;
          @img: './img/messenger.svg';
        }

        .facebook {
          height: image-height(@img) * @scale;

          mask-image: url(@img);
          @scale: 0.8;
          @img: './img/facebook.svg';
        }

        .instagram {
          height: image-height(@img) * @scale;

          mask-image: url(@img);
          @scale: 0.8;
          @img: './img/instagram.svg';
        }
      }

      & > li:nth-child(1) {
        @apply w-16 lg:w-auto;
      }
      & > li:nth-child(2) {
        @apply w-10 lg:w-auto;
      }
      & > li:nth-child(3) {
        @apply w-10 lg:w-auto;
      }
    }
  }

  .shortcut {
    @apply w-24 h-24 absolute bg-black text-white top-24 lg:top-0 lg:right-full right-0;

    & > button {
      transition-duration: 0.2s;
      @apply flex justify-center items-center w-full h-full capitalize font-noto-black font-black;

      &:hover {
        @apply bg-white text-black;
      }
    }
  }
}
