.Tie {
  @apply w-full h-screen;

  .cover {
    background-image: url('./img/cover.jpg');
    @apply relative w-full h-full bg-cover bg-blue-400 bg-center;
  }

  .tie {
    width: image-width(@img) * @scale;
    height: image-height(@img) * @scale;
    background-image: url(@img);
    background-size: 100%;

    @scale: 0.5;
    @img: './img/tie.svg';

    @apply hidden;
  }
}
