.Course {
  .Detail {
    // min-height: 880px;

    .controller {
      @apply fixed bottom-52 left-5 lg:left-80 w-56 flex flex-row justify-between;

      &::before {
        margin-top: 6px;
        margin-left: -4rem;
        width: 8rem;
        height: 1px;
        content: '';
        @apply absolute bg-black top-1/2 left-1/2;
      }

      @media only screen and (max-height: 750px) {
        & {
          @apply bottom-16;
        }
      }

      @media only screen and (max-height: 600px) {
        & {
          @apply bottom-6;
        }
      }
    }

    .pagination {
      width: 36rem;

      @apply absolute bottom-32 right-0 flex justify-center;

      @media only screen and (max-height: 750px) {
        & {
          @apply bottom-8;
        }
      }

      @media only screen and (max-width: 1024px) {
        & {
          width: 16rem;
        }
      }

      & > div:not(.char) {
        @apply w-60 flex justify-between relative font-noto-medium font-medium items-center bg-OM-gray-100 z-10 px-5;

        & > span:nth-child(1) {
          @apply text-xl;
        }
        & > span:nth-child(2) {
          @apply text-sm opacity-50;
        }

        &::before {
          margin-left: -4.5rem;
          height: 1px;
          content: '';
          @apply absolute w-36 bg-black top-1/2 left-1/2;
        }
      }

      .char0 {
        margin-right: 13rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d0.png';
      }

      .char1 {
        margin-right: 14rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d1.png';
      }

      .char2 {
        margin-right: 18rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d2.png';
      }

      .char4 {
        margin-right: 18rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d4.png';
      }

      .char5 {
        margin-right: 18rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d5.png';
      }

      .char7 {
        margin-right: 13rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d7.png';
      }

      .char8 {
        margin-right: 10rem;
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;
        background-image: url(@img);
        background-size: 100%;

        @scale: 0.8;
        @img: './img/d8.png';
      }

      .char {
        @apply absolute -bottom-32 right-52;

        @media only screen and (max-width: 1500px) {
          & {
            @apply right-0;
          }
        }

        @media only screen and (max-width: 1024px) {
          & {
            @apply -right-96;
          }
        }

        @media only screen and (max-height: 600px) {
          & {
            // @apply -right-96;
          }
        }
      }

      &::before {
        bottom: 3rem;
        width: 36rem;
        height: 36rem;
        content: '';

        mask-repeat: repeat-x;
        mask-image: url('./img/slash.svg');
        mask-size: auto 130%;
        mask-position: 36.9% center;

        @apply absolute bg-white;
      }
    }
  }
}
